<div id="quizz-phlebite">


    {# Témoin d'avancement du quizz #}
    <div class="quizz-dot-wrapper">
        <span class="quizz-dot-1 active"></span>
        <span class="quizz-dot-2"></span>
        <span class="quizz-dot-3"></span>
        <span class="quizz-dot-4"></span>
        <span class="quizz-dot-5"></span>
        <span class="quizz-dot-6"></span>
        <span class="quizz-dot-7"></span>
        <span class="quizz-dot-8"></span>
        <span class="quizz-dot-9"></span>
        <span class="quizz-dot-10"></span>
        <span class="quizz-dot-11"></span>
        <span class="quizz-dot-12"></span>
        <span class="quizz-dot-13"></span>
        <span class="quizz-dot-14"></span>
        <span class="quizz-dot-15"></span>
        <span class="quizz-dot-16"></span>
        <span class="quizz-dot-17"></span>
        <span class="quizz-dot-18"></span>
        <span class="quizz-dot-19"></span>
        <span class="quizz-dot-20"></span>
    </div> 


    {# Question 1 #}
    <div class="quizz-custom-wrapper active" data-question="question1">
        <div class="quizz-titre">
            <h3>Question 1.<br />Quelles sont les différentes appellations de la phlébite  ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Veinite</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Thrombose Veineuse Profonde</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Thrombose Veineuse Superficielle</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Embolie Pulmonaire</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>

    
    {# Question 2 #}
    <div class="quizz-custom-wrapper" data-question="question2">
        <div class="quizz-titre">
            <h3>Question 2.<br />Dans quel cas la phlébite peut-elle survenir ? </h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Cette maladie peut survenir à la suite d'un alitement prolongé ou d'un voyage en avion</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Cette maladie peut survenir à la suite du port d'un plâtre</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Cette maladie peut être d'origine génétique</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Cette maladie n'est pas retrouvée associée à un cancer</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>

    
    {# Question 3 #}
    <div class="quizz-custom-wrapper" data-question="question3">
        <div class="quizz-titre">
            <h3>Question 3.<br />Quels sont les signes de la phlébite ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Une augmentation du volume de la jambe</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Une douleur localisée sur le trajet d'une veine</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Une toux importante</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Un réseau veineux dilaté</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 4 #}
    <div class="quizz-custom-wrapper" data-question="question4">
        <div class="quizz-titre">
            <h3>Question 4.<br />Quelle est la complication majeure de la phlébite ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Une embolie gazeuse</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Une embolie pulmonaire</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Un AVC</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">La phlébite est une pathologie mineure qui n'est pas susceptible de se compliquer.</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 5 #}
    <div class="quizz-custom-wrapper" data-question="question5">
        <div class="quizz-titre">
            <h3>Question 5.<br />Pourquoi prescrit-on un traitement anticoagulant dans le cadre d'une phlébite ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Afin d'empêcher la fluidification du sang</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Afin de détruire le caillot</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Afin d'empêcher la progression du caillot</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Afin d'empêcher la formation de nouveaux caillots</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 6 #}
    <div class="quizz-custom-wrapper" data-question="question6">
        <div class="quizz-titre">
            <h3>Question 6.<br />Qu’est-ce qu’un anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">C''est un médicament qui fluidifie le sang</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Il existe différents types de traitements anticoagulants</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">C'est un médicamentqui peut nécessiter une surveillance médicale particulière</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">C'est un médicament qui empêche la formation de caillots sangunis</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 7 #}
    <div class="quizz-custom-wrapper" data-question="question7">
        <div class="quizz-titre">
            <h3>Question 7.<br />Quelles sont les spécificités des différents traitements anticoagulants ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Les AOD nécessitent un surveillance biologique de routine</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Les AVK en prise orale peuvent  être associés à un anticoagulant injectable</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Les injections d'anticoagulants se font de 3 à 4 fois par jour durant la 1ère période de traitement</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">L'INR (examen biologique de contrôle) doît être compris entre 1 et 2</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 8 #}
    <div class="quizz-custom-wrapper" data-question="question8">
        <div class="quizz-titre">
            <h3>Question 8.<br />Comment prendre un traitement anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Les AVK se prennent en prise unique le soir</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Les AOD se prennent de 2 à 3 fois par jour</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Les AOD se prennent toujours pendant le repas</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Les doses sont ajustables au quotidien</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 9 #}
    <div class="quizz-custom-wrapper" data-question="question9">
        <div class="quizz-titre">
            <h3>Question 9.<br />Faut-il prendre un traitement anticoagulant régulièrement ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Oui, tous les 2 jours, à heure fixe</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Oui, tous les jours, à heure variable</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Toujours en dehors des repas</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Pendant ou en dehors des repas selon le traitement</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 10 #}
    <div class="quizz-custom-wrapper" data-question="question10">
        <div class="quizz-titre">
            <h3>Question 10.<br />Comment bien prendre son traitement anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">En cas d'oubli de prise, il est nécessaire de doubler la dose à la prise suivante</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">La prise du traitement doit être effectuée à la même heure tous les jours</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">La prise de médicaments non soumis à prescription médicale obligatoire n'a pas d'influence sur le traitement anticoagulant</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">En cas de prise d'AVK, une surveillance biologique régulière doit être effectuée</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 11 #}
    <div class="quizz-custom-wrapper" data-question="question11">
        <div class="quizz-titre">
            <h3>Question 11.<br />Lorsque l'on est sous anticoagulant, que faire en cas de chute ou encore de coupure ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Il faut désinfecter la plaie</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Il faut interrompre le traitement anticoagulant</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Il faut être vigilent en cas de fatigue, d'essouflement, de pâleur ou de tachycardie</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Il faut contacter le médecin ou le SAMU en cas de doute</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 12 #}
    <div class="quizz-custom-wrapper" data-question="question12">
        <div class="quizz-titre">
            <h3>Question 12.<br />Est-il possible de décider seul d'arrêter un traitement anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Oui, en cas de survenue d'un saignement</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Oui, en cas d'intervention chirurgcale</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Oui, en cas de visite chez le dentiste</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Oui, en cas de vomissements</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 13 #}
    <div class="quizz-custom-wrapper" data-question="question13">
        <div class="quizz-titre">
            <h3>Question 13.<br />Que faire si l’on oublie de prendre le traitement anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Prendre la dose de traitement oubliée avec la dose suivante</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Prendre la dose suivante normalement</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Se reporter à la notice</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Appeler le médecin ou le pharmacien</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 14 #}
    <div class="quizz-custom-wrapper" data-question="question14">
        <div class="quizz-titre">
            <h3>Question 14.<br />Quels " trucs et astuces " pour ne pas oublier de prendre un traitement anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Utiliser un semainier ou un pilulier</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Par exemple, en prennant le médicament, tous les matins, après s'être brossé les dents</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Utiliser une alarme pour penser à prendre le traitement</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Se rendre à la pharmacie pour récupérer le traitement anticoagulant le 1er jour du nouveau traitement</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 15 #}
    <div class="quizz-custom-wrapper" data-question="question15">
        <div class="quizz-titre">
            <h3>Question 15.<br />Que faire en cas de vomissement juste après la prise de mon traitement ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Traiter le vomissement en prenant un pansement gastrique</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Interrompre le traitement anticoagulant jusqu'à être sûr de l'arrêt des vomissements</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">A la fin des vomissement, prendre toutes les doses qu'il aurait fallu prendre pendant la période d'interruption du traitement</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Informer le médecin après la reprise du traitement</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 16 #}
    <div class="quizz-custom-wrapper" data-question="question16">
        <div class="quizz-titre">
            <h3>Question 16.<br />Existe-t-il des situations à éviter ou privilégier dans la vie quotidienne lorsque l'on est sous anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Privilégier les activités sportives de type VTT ou ski par rapport à la natation ou la musculation</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Eviter la pratique de toute activité sportive</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Prendre des bains plutôt que des douches pour éviter de glisser</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Eviter  l'encombrement au sol</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 17 #}
    <div class="quizz-custom-wrapper" data-question="question17">
        <div class="quizz-titre">
            <h3>Question 17.<br />Qui doit être tenu au courant de la prise d'un traitement anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">L'entourage proche</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Le corps médical</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Les urgentistes en cas d'accident ou d'hospitalisation</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Aucune de ces propositions</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 18 #}
    <div class="quizz-custom-wrapper" data-question="question18">
        <div class="quizz-titre">
            <h3>Question 18.<br />A quoi sert la carte « patient sous anticoagulant » ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Elle remplace la carte vitale du patient</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Elle ne sert à rien</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Elle permet d'adapter la prise en charge en cas d'inconscience du patient</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Elle peut être donnée par le médecin, par le pharmacien ou bien trouvée dans le conditionnement du traitement anticoagulant</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 19 #}
    <div class="quizz-custom-wrapper" data-question="question19">
        <div class="quizz-titre">
            <h3>Question 19.<br />Que faut-il surveiller lorsque l'on prend un traitement anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Les saignements lors du brossage de dents</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Les saignements de nez</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">La présence de sang dans les urines ou dans les selles</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">La présence de sang lors de vomissements</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 20 #}
    <div class="quizz-custom-wrapper" data-question="question20">
        <div class="quizz-titre">
            <h3>Question 20.<br />A quoi faut-il être attentif lorsque l'on est sous traitement anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">La fatigue et les essoufflements sont des signes d'alerte d'un saignement interne chez un patient sous anticoagulant</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Une pâleur et la survenue d'un malaise ne sont pas des signes caractéristiques d'un saignement interne chez un patient sous anticoagulant</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Les maux de tête persistants, des douleurs et gonflement sont des signes d'alerte d'un saignement interne chez un patient sous anticoagulant</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">En cas de modification de l'état général, il faut informer le médecin ou le pharmacien</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="retour-page-contenu">Terminer</button>
        </div>
    </div>


</div>