<div id="quizz-avc">


    {# Témoin d'avancement du quizz #}
    <div class="quizz-dot-wrapper">
        <span class="quizz-dot-1 active"></span>
        <span class="quizz-dot-2"></span>
        <span class="quizz-dot-3"></span>
        <span class="quizz-dot-4"></span>
        <span class="quizz-dot-5"></span>
        <span class="quizz-dot-6"></span>
        <span class="quizz-dot-7"></span>
        <span class="quizz-dot-8"></span>
        <span class="quizz-dot-9"></span>
        <span class="quizz-dot-10"></span>
        <span class="quizz-dot-11"></span>
        <span class="quizz-dot-12"></span>
        <span class="quizz-dot-13"></span>
        <span class="quizz-dot-14"></span>
        <span class="quizz-dot-15"></span>
        <span class="quizz-dot-16"></span>
        <span class="quizz-dot-17"></span>
        <span class="quizz-dot-18"></span>
        <span class="quizz-dot-19"></span>
        <span class="quizz-dot-20"></span>
    </div> 


    {# Question 1 #}
    <div class="quizz-custom-wrapper active" data-question="question1">
        <div class="quizz-titre">
            <h3>Question 1.<br />Qu’est-ce que l’AVC ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">C'est une souffrance brutale du cerveau due à la lésion ou au blocage d'une artère cérébralle</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">L'AVC ischémique est causé par la rupture d'une artère</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">L'AVC hémorragique est causé par un caillot qui obstrue une artère</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">L'AVC Ischémique est plus fréquent que l'AVC hémorragique</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>

    
    {# Question 2 #}
    <div class="quizz-custom-wrapper" data-question="question2">
        <div class="quizz-titre">
            <h3>Question 2.<br />Qu’est-ce qu’un AIT ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Il s'agit d'un Accident Ischémique Transitoire. Il dure de quelques minutes à quelques heures</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Les symptômes apparaissent lentement mais sont transitoires</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Ses symptômes sont la paralysie, le trouble du langage et les troubles visuels</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Il s'agit d'une urgence médicale</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>

    
    {# Question 3 #}
    <div class="quizz-custom-wrapper" data-question="question3">
        <div class="quizz-titre">
            <h3>Question 3.<br />Quels sont les principaux signes et symptômes de l’AVC ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Visage paralysé et inertie d'un membre</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Palpitations cardiaques et nausées</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Troubles de la parole</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Parmi les symptômes associés, sont retrouvés : des troubles de l'équilibre, de la vision ou de la compréhension</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 4 #}
    <div class="quizz-custom-wrapper" data-question="question4">
        <div class="quizz-titre">
            <h3>Question 4.<br />Quels sont les réflexes à avoir en cas de suspicion d’AVC ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Alerter le voisinage</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Appeler le 15 ou le 112 (France ou Europe)</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Se rendre  à l'hopital</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Débuter un traitement en automédication</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 5 #}
    <div class="quizz-custom-wrapper" data-question="question5">
        <div class="quizz-titre">
            <h3>Question 5.<br />Quels sont les principaux facteurs de risques de l’AVC ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Les facteurs de risques de l'AVC sont tous liés aux habitudes de vie</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">L'hypertension artérielle, le diabète, le tabagisme constituent des facteurs de risque de l'AVC</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">L'obésité, les anomalies de coagulation sanguine et la fibrillation atriale constituent des facteurs de risque de l'AVC</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Seules les personnes de plus de 55 ans sont touchées par les AVC</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 6 #}
    <div class="quizz-custom-wrapper" data-question="question6">
        <div class="quizz-titre">
            <h3>Question 6.<br />Quelles peuvent-être les séquelles d’un AVC ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Handicap physique</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Décès</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Déclin intellectuel</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Troubles de la parole</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 7 #}
    <div class="quizz-custom-wrapper" data-question="question7">
        <div class="quizz-titre">
            <h3>Question 7.<br />Quelles sont les prises en charge d'urgence de l’AVC ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">L'AVC est une urgence dont la prise en charge doit être effectuée le plus vite possible</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">La prise en charge peut consister à retirer le caillot sanguin dans le cerveau à l'aide d'une sonde </button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">La prise en charge peut consister à dissoudre le caillot sanguin dans le cerveau à l'aide d'une injection d'un médicament</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">La prise en charge d'un AVC doit être réalisée dans les 20h suivant les premiers symptômes</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 8 #}
    <div class="quizz-custom-wrapper" data-question="question8">
        <div class="quizz-titre">
            <h3>Question 8.<br />Après un AVC, quel est le risque de faire un second AVC ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">20% des victimes d'AVC feront une récidive dans les 5 ans</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">50% des victimes d'AVC feront une récidive dans les 5 ans</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Les habitudes de vies peuvent être modifiées afin de réduire le risque de récidive</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Lorsque l'on a fait un AVC, il n'y a aucun risque de faire un nouvel évènement</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 9 #}
    <div class="quizz-custom-wrapper" data-question="question9">
        <div class="quizz-titre">
            <h3>Question 9.<br />Quels sont les traitements préventifs pour éviter une récidive d’AVC ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Prise en charge les facteurs de risques</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Prise d'un médicament antiagrégant plaquettaire</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Prise d'un médicament anticoagulant</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Prise d'un médicament antiinflammatoire</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 10 #}
    <div class="quizz-custom-wrapper" data-question="question10">
        <div class="quizz-titre">
            <h3>Question 10.<br />Comment agir sur le mode de vie pour éviter une récidive d’AVC ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Fumer uniquement 2 cigarettes par jour ne constitue pas un facteur de risque de récidive</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">L'activité physique est déconseillée afin déviter le risque de rupture des artères cérébralles</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">La consommation d'alcool permet de fluidifier le sang et évite ainsi la formation de caillots sanguins, responsables des AVC</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Une alimentation équilibrée permet de réduire les facteurs de risques de l'AVC</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 11 #}
    <div class="quizz-custom-wrapper" data-question="question11">
        <div class="quizz-titre">
            <h3>Question 11.<br />A quoi sert la rééducation motrice et/ou orthophonique ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">A regagner des fonctions perdues lors de l'AVC</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">A empêcher la récidive de l'AVC</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">A favoriser le retour à la vie normale</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">A favoriser un retour à l'état normal</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 12 #}
    <div class="quizz-custom-wrapper" data-question="question12">
        <div class="quizz-titre">
            <h3>Question 12.<br />Quel est le rôle du traitement anticoagulant dans l’AVC ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">A regagner des fonctions perdues lors de l'AVC</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">A empêcher la récidive de l'AVC</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">A favoriser le retour à la vie normale</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">A favoriser un retour à l'état normal</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 13 #}
    <div class="quizz-custom-wrapper" data-question="question13">
        <div class="quizz-titre">
            <h3>Question 13.<br />Est-il possible d’interrompre le traitement ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Oui, en cas de vomissements prolongés</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Oui, en cas de saignements</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Oui, en cas de voyage</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Oui, en cas d'inefficacité constatée</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 14 #}
    <div class="quizz-custom-wrapper" data-question="question14">
        <div class="quizz-titre">
            <h3>Question 14.<br />Comment faire pour ne pas oublier de prendre le traitement ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Utiliser un pilulier ou un semainier</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Mettre une alarme</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Par exemple, en prennant le médicament, tous les matins, après s'être brossé les dents</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Aller chercher le renouvellement du traitement le jour même de la 1ère prise</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 15 #}
    <div class="quizz-custom-wrapper" data-question="question15">
        <div class="quizz-titre">
            <h3>Question 15.<br />Que faire en cas de vomissement juste après la prise du traitement anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Il faut arrêter complètement le traitement</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Il faut agir contre le vomissement en utilisant un pansement gastrique</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Il faut reprendre une dose d'anticoagulant</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Il faut contacter le médecin</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 16 #}
    <div class="quizz-custom-wrapper" data-question="question16">
        <div class="quizz-titre">
            <h3>Question 16.<br />Que faire en cas d'oubli de prise d'un comprimé ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Prendre la dose oubliée immédiatement</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Prendre la dose oubliée avec la prochaine dose</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Ne rien faire et prendre la dose suivante normalement</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Consulter la notice et appeller le médecin ou pharmacien</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 17 #}
    <div class="quizz-custom-wrapper" data-question="question17">
        <div class="quizz-titre">
            <h3>Question 17.<br />A quelle fréquence doit être pris le traitement anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Tous les jours</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Tous les 2 jours</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Toutes les semaines</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">1 fois par mois</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 18 #}
    <div class="quizz-custom-wrapper" data-question="question18">
        <div class="quizz-titre">
            <h3>Question 18.<br />A quoi sert la carte « patient sous anticoagulant » ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Elle remplace la carte vitale du patient</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Elle ne sert à rien</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Elle permet d'adapter la prise en charge en cas d'inconscience du patient</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Elle peut être donnée par le médecin, par le pharmacien ou bien trouvée dans le conditionnement du traitement anticoagulant</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 19 #}
    <div class="quizz-custom-wrapper" data-question="question19">
        <div class="quizz-titre">
            <h3>Question 19.<br />Existe-t-il des situations à éviter dans la vie quotidienne lorsque l'on est sous anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">Privilégier la natation ou la marche à des activités sportives de type VTT ou ski</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Eviter la pratique de toute activité sportive</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Prendre des bains plutôt que des douches pour éviter de glisser</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Eviter  l'encombrement au sol</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="question-suivante">Question suivante</button>
        </div>
    </div>


    {# Question 20 #}
    <div class="quizz-custom-wrapper" data-question="question20">
        <div class="quizz-titre">
            <h3>Question 20.<br />Que faut-il surveiller ? A quoi doit-on être attentif lorsque l'on est sous anticoagulant ?</h3>
        </div>
        <div class="quizz-question-wrapper row">
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-a">
                    <span>A.</span>
                    <button data-reponse="A">La présence de saignements lors du brossage de dents est considéré comme normale et n'est pas inquiétante</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-b">
                    <span>B.</span>
                    <button data-reponse="B">Des saignements gynécologiques abondants doivent être signalés au médecin ou au pharmacien</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-c">
                    <span>C.</span>
                    <button data-reponse="C">Les saignements non visibles peuvent se manifester par une fatigue inhabituelle et un essouflement</button>
                </div>
            </div>
            <div class="quizz-question col-lg-6 col-md-12">
                <div class="reponse-d">
                    <span>D.</span>
                    <button data-reponse="D">Les saignements non visibles peuvent se manifester par une pigmentation anormale de la peau et le cœur qui bat lentement</button>
                </div>
            </div>
        </div>
        <div class="quizz-question-reponse"></div>
        <div class="validation-questions">
            <button id="confirmer-reponse">Confirmer ma réponse</button>
            <button id="retour-page-contenu">Terminer</button>
        </div>
    </div>


</div>