{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <header>
    {{ title_prefix }}
    {% if label and not page %}
      <h2{{ title_attributes.addClass('node__title') }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        {{ author_picture }}
        {% block submitted %}
          <em{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          </em>
        {% endblock %}
        {{ metadata }}
      </div>
    {% endif %}
  </header>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>

    <div class="wrapper-contenu-page row">
      <div class="contenu-page-left col-lg-8 col-md-12">

        <h2 class="contenu-page-left-titre">{{ content.field_titre_de_la_page_pec }}</h2>
        <h3 class="contenu-page-left-titre">Prise en charge</h3>

        {% if content.field_texte_pec|render %}
          {{ content.field_texte_pec }}
        {% endif %}

        {% if node.id == 8 %}
          {% include '@alto/quizz/quizz-fa.html.twig' %}
        {% elseif node.id == 9 %}
          {% include '@alto/quizz/quizz-avc.html.twig' %}
        {% elseif node.id == 10 %}
          {% include '@alto/quizz/quizz-phlebite.html.twig' %}
        {% elseif node.id == 11 %}
          {% include '@alto/quizz/quizz-ep.html.twig' %}
        {% endif %}  

      </div>

      <!-- <div class="contenu-page-right col-md-3 order-first order-md-last"> -->
      <div class="contenu-page-right col-lg-4 col-md-12">

        <nav id="myScrollspy">
          <div class="sidebar-item">
            <div class="make-me-sticky">
              <div class="sidebar-menu-scrollspy">
                <span class="menu-sticky-title">Prise en charge</span>
                <ul class="nav nav-pills flex-column">
                  {% for item in node.field_texte_pec %}
                    <li class="nav-item">
                      {% if loop.first %}
                        <a class="nav-link active" href="#{{ item.entity.field_titre_contenu_page.value|replace({' ': '-', 'á':'a', 'à':'a', 'â':'a', 'é':'e', 'è':'e', 'ê':'e', 'í':'i', 'î':'i', 'ó':'o', 'ô':'o', 'ú':'u', 'û':'u', 'ç':'c', '\'':'-'})|lower }}">{{ item.entity.field_titre_contenu_page.value }}</a>
                      {% else %}
                        <a class="nav-link" href="#{{ item.entity.field_titre_contenu_page.value|replace({' ': '-', 'á':'a', 'à':'a', 'â':'a', 'é':'e', 'è':'e', 'ê':'e', 'í':'i', 'î':'i', 'ó':'o', 'ô':'o', 'ú':'u', 'û':'u', 'ç':'c', '\'':'-'})|lower }}">{{ item.entity.field_titre_contenu_page.value }}</a>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="sidebar-telechargements">
                {{ drupal_view('telechargements_et_liens', 'block_1') }}
              </div>
              <div class="sidebar-quizz">
                {% if node.id == 8 %}
                  <a href="#quizz-fa" class="quizz-lien">QUIZZ FA - Testez vos connaissances !</a>
                {% elseif node.id == 9 %}
                  <a href="#quizz-avc" class="quizz-lien">QUIZZ AVC - Testez vos connaissances !</a>
                {% elseif node.id == 10 %}
                  <a href="#quizz-phlebite" class="quizz-lien">QUIZZ Phlébite - Testez vos connaissances !</a>
                {% elseif node.id == 11 %}
                  <a href="#quizz-ep" class="quizz-lien">QUIZZ EP - Testez vos connaissances !</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>

      </div>

    </div>
  </div>
</article>
