/**
 * @file
 * Subtheme specific CSS.
 */


/* Fonts */

@font-face {
font-family: 'ITC Avant Garde Gothic Std Book';
font-style: normal;
font-weight: normal;
src: local('ITC Avant Garde Gothic Std Book'), url('../fonts/ITCAvantGardeStdBk.woff') format('woff');
}

@font-face {
font-family: 'ITC Avant Garde Gothic Std Demi';
font-style: normal;
font-weight: normal;
src: local('ITC Avant Garde Gothic Std Demi'), url('../fonts/ITCAvantGardeStdDemi.woff') format('woff');
}

@font-face {
font-family: 'ITC Avant Garde Gothic Std Bold';
font-style: normal;
font-weight: normal;
src: local('ITC Avant Garde Gothic Std Bold'), url('../fonts/ITCAvantGardeStdBold.woff') format('woff');
}




/* Variables */

$agg_book: 'ITC Avant Garde Gothic Std Book';
$agg_demi: 'ITC Avant Garde Gothic Std Demi';
$agg_bold: 'ITC Avant Garde Gothic Std Bold';

$rouge: #FF5769;
$rouge_opacity: rgb(255, 87, 105, 0.3);
$vert: #47C3C6;
$vert_opacity: rgb(71, 195, 198, 0.3);
$gris: #84939F;
$gris_fonce: #414951;
$surlignage: #F3F9FF;
$blanc: #FFFFFF;
$bleu: #017DD9;
$bleu_fonce: #384A6F;

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;



/* Global & reset */

html {
    // scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    max-width:100%;
    position: relative;
}

h1 {
    font-family: $agg_bold;
    font-size: 48px;
    color: $blanc;
    @media screen and (max-width: $md) {
        font-size: 36px;
    }
    @media screen and (max-width: 840px) {
        font-size: 34px;
    }
    @media screen and (max-width: $xs) {
        font-size: 32px;
    }
    span {
        color: $rouge;
    }
}

h2 {
    font-family: $agg_book;
    font-size: 35px;
    color: $rouge;
    @media screen and (max-width: $md) {
        font-size: 30px;
    }
    @media screen and (max-width: $sm) {
        font-size: 25px;
    }
}

h3 {
    display: inline-block;
    font-family: $agg_demi;
    font-size: 27px;
    color: $rouge;
    @media screen and (max-width: $md) {
        font-size: 25px;
    }
    @media screen and (max-width: $sm) {
        font-size: 20px;
    }
}

h4 {
    font-family: $agg_bold;
    font-size: 26px;
    color: $rouge;
    @media screen and (max-width: $md) {
        font-size: 22px;
    }
}

h5 {
    font-family: $agg_bold;
    font-size: 20px;
    color: $vert;
    margin: 40px 0 20px 0;
    @media screen and (max-width: $md) {
        font-size: 18px;
    }
}

p, ul, li {
    font-family: $agg_book;
    font-size: 16px;
    color: $gris;
    em {
        font-style: normal;
        color: $vert;
        background-color: $surlignage;
    }
}

a, button {
    @include transition(.5s);
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.accueil-content {
    margin-left: 60px;
    @media screen and (max-width: $md) {
        margin-left: 0;
    }
}

main {
    padding-left: 0 !important;
    padding-right: 0 !important;
}




/* Header */

header {
    nav {
        background-color: $rouge;
        padding: 20px 15px 0 15px;
        @media screen and (max-width: $xs) {
            padding: 20px 15px 20px 15px;
        }
        .header-nav {
            position: relative;
            .logo-alto {
                @media screen and (max-width: $md) {
                    width: 30%;
                }
            }
            .logo-bayer {
                position: absolute;
                top: 13px;
                right: 15px;
                @media screen and (max-width: $md) {
                    top: -7px;
                }
            }
            .logo-texte-alto {
                width: 100%;
                margin-top: 10px;
                position: relative;
                top: 2px;
                z-index: 1;
                @media screen and (max-width: $xs) {
                    display: none;
                }
            }
        }
    }
    .header-top-image-wrapper {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 750px;
        @media screen and (max-width: $md) {
            height: 480px;
        }
        @media screen and (max-width: $sm) {
            height: 380px;
        }
        .header-top-image {
            position: relative;
            top: 100px;
            @media screen and (max-width: $md) {
                top: 220px;
            }
            @media screen and (max-width: $sm) {
                top: 150px;
            }
            @media screen and (max-width: $xs) {
                top: 110px;
            }
            .container {
                @media screen and (max-width: $sm) {
                    margin: 0;
                    max-width: 100%;
                }
            }
            h1 {
                width: 440px;
                @media screen and (max-width: $md) {
                    width: 100%;
                }
            }
        }
    }
    .custom-search-nav {
        button {
            background-color: $vert;
            font-family: $agg_demi;
            font-size: 20px;
            color: $blanc;
            line-height: 1.5rem;
            text-align: inherit;
            border: none;
            padding: 0;
            position: fixed;
            top: 240px;
            right: 0;
            width: 180px;
            border-radius: 0;
            z-index: 2;
            @media screen and (max-width: 1460px) {
                width: 55px;
            }
            &:hover,
            &:focus,
            &:active {
                background-color: $vert;
                border: none;
            }
        }
    }
    .custom-search-nav-pc {
        @media screen and (max-width: 1460px) {
            display: none;
        }
        .custom-search-nav {
            button {
                padding: 10px 10px 5px 20px;
            }
            img {
                margin-bottom: 5px;
                display: block;
            }
        }
    }
    .custom-search-nav-mobile {
        @media screen and (min-width: 1460px) {
            display: none;
        }
        button {
            padding: 10px 10px 5px 20px;
            top: 160px;
        }
        @media screen and (max-width: 1460px) {
            button {
                padding: 15px;
            }
        }
    }
}
.modal-content {
    overflow: hidden;
}
.modal-header {
    display: block;
    text-align: center;
    padding-top: 40px;
    border-bottom: none;
    .modal-header-content {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
    }
    .close {
        font-family: $agg_book;
        color: $rouge;
        font-size: 50px;
        position: relative;
        top: -30px;
    }
    h5 {
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 0;
        color: $vert;
        @media screen and (max-width: $md) {
            font-size: 14px;
        }
    } 
}
.modal-body {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    .row.justify-content-md-center {
        margin-bottom: 80px;
        position: relative;
        z-index: 2;
        @media screen and (max-width: $lg) {
            margin-bottom: 60px;
        }
    }
    .modal-decoration-pc {
        position: absolute;
        bottom: 30px;
        left: -220px;
        width: 163%;
        z-index: 1;
        @media screen and (max-width: $lg) {
            display: none;
        }
    }
    .modal-decoration-mobile-left {
        display: none;
        @media screen and (max-width: $lg) {
            display: block;
            position: absolute;
            bottom: 0;
            left: -100px;
            width: 200px;
            z-index: 1;
        }
        @media screen and (max-width: $md) {
            display: none;
        }
        @media screen and (max-width: $sm) {
            display: block;
        }
    }
    .modal-decoration-mobile-right {
        display: none;
        @media screen and (max-width: $lg) {
            display: block;
            position: absolute;
            bottom: 0;
            right: -100px;
            width: 200px;
            z-index: 1;
        }
        @media screen and (max-width: $md) {
            display: none;
        }
        @media screen and (max-width: $sm) {
            display: block;
        }
    }
    h6 {
        width: 100%;
        font-family: $agg_demi;
        font-size: 26px;
        color: $bleu_fonce;
        margin-bottom: 80px;
        @media screen and (max-width: $md) {
            font-size: 24px;
            margin-bottom: 40px;
            font-size: 18px;
        }
    }
    #modal-body-entree-oui,
    .close {
        position: relative;
        width: 100%;
        color: $bleu_fonce;
        font-family: $agg_demi;
        font-size: 26px;
        line-height: 1.4;
        padding-bottom: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px $vert solid;
        @media screen and (max-width: $md) {
            font-size: 24px;
            border-bottom: none;
        }
        @media screen and (max-width: $sm) {
            font-size: 20px;
        }
        span {
            display: block;
            color: $vert;
            font-family: $agg_book;
            font-size: 16px;
        }
        &:after {
            content: "";
            position: absolute;
            width: 120px;
            height: 5px;
            background-color: $vert;
            bottom: -3px;
            left: 37px;
            @media screen and (max-width: $md) {
                width: 80px;
                left: 23px;
            }
            @media screen and (max-width: $sm) {
                display: none;
            }
        }
        &:hover {
            opacity: 1 !important;
        }
    }
    #modal-body-entree-oui {
        @media screen and (max-width: $sm) {
            padding-bottom: 20px;
        }
    }
    .button-modal-custom {
        width: 100%;
        height: 70px;
        background-color: $blanc;
        border: 1px $vert solid;
        margin-bottom: 20px;
        box-shadow: 0 6px 10px 0px #d4d4d4;
        display: inline-block;
        align-items: flex-start;
        color: $vert;
        border-radius: 5px;
        @media screen and (max-width: $md) {
            height: 60px;
            font-size: 16px;
        }
    }
    a.button-modal-custom {
        line-height: 1.2em;
        padding-top: 25px;
        text-decoration: none;
        @media screen and (max-width: $md) {
            padding-top: 20px;
        }
    }
}



/* Navigation personnalisée */

.custom-sticky-nav {
    position: fixed !important;
    background-color: $blanc !important;
    width: 100% !important;
    top: 0 !important;
    z-index: 10 !important;
    .custom-nav-top-wrapper {
        padding: 0 !important;
    }
    .container {
        max-width: 100% !important;
        padding: 0 !important;
    }
}
.top-sticky-nav-space {
    top: 130px !important;
    margin-bottom: 120px !important;
}
.wrapper-custom-nav {
    position: relative;
    top: -35px;
    .custom-nav-top-wrapper,
    .custom-nav-bottom-wrapper {
        padding: 0 15px;
    }
    .custom-nav-top {
        background-color: $vert;
        text-align: center;
        padding: 15px;
        &:before {
            content: url('../images/dot-x2.png');
            position: relative;
            width: 20px;
            height: 6px;
            top: -3px;
            left: 205px;
            @media screen and (max-width: $md) {
                display: none;
            }
        }
        &:after {
            content: url('../images/dot-x2.png');
            position: relative;
            width: 20px;
            height: 6px;
            top: -3px;
            right: 120px;
            @media screen and (max-width: $md) {
                display: none;
            }
        }
        a {
            margin: 0 30px;
            font-family: $agg_demi;
            font-size: 20px;
            color: $blanc;
            vertical-align: middle;
            line-height: 1.25rem;
            opacity: 0.6;
            text-decoration: none;
            &:hover {
                opacity: 1;
            }
        }
        .custom-nav-pec {
            width: 100px;
        }
        .active {
            opacity: 1 !important;
            border-bottom: 4px $blanc solid;
            padding-bottom: 11px;
            @media screen and (max-width: $lg) {
                padding-bottom: 12px;
            }
            @media screen and (max-width: $md) {
                padding-bottom: 13px;
            }
            @media screen and (max-width: $xs) {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
    .custom-nav-bottom-wrapper {
        border-bottom: 2px $rouge solid;
        .custom-nav-bottom {
            padding-top: 30px;
            padding-bottom: 0;
            text-align: center;
            position: relative;
            top: 4px;
            a {
                display: inline-block;
                font-family: $agg_book;
                font-size: 16px;
                color: $gris;
                text-decoration: none;
                margin-right: 75px;
                vertical-align: middle;
                padding-bottom: 15px;
                line-height: 1.2rem;
                &:hover,
                &:focus {
                    color: $rouge;
                }
                @media screen and (max-width: $lg) {
                    margin-right: 33px;
                }
            }
            .arythmie-cardiaque,
            .avc,
            .phlebite {
                line-height: 2rem;
            }
            .embolie-pulmonaire {
                width: 150px;
            }
            .maladie-coronaire {
                width: 140px;
            }
            .arterite-des-membres-inferieurs {
                width: 170px;
                margin-right: 0;
            }
            .current {
                color: $rouge;
                border-bottom: 6px $rouge solid;
            }
            .custom-nav-bottom-comprendre,
            .custom-nav-bottom-prise-en-charge,
            .custom-nav-bottom-suivi {
                @media screen and (max-width: $md) {
                    overflow-x: auto;
                    white-space: nowrap;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }
        .active { 
            display: block !important;
        }
        .hide { 
            display: none !important;
        }
    }
}

@media screen and (max-width: $md) {
    .custom-nav-bottom {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        top: 0 !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        .custom-nav-bottom-comprendre,
        .custom-nav-bottom-prise-en-charge,
        .custom-nav-bottom-suivi {
            overflow-x: auto;
            white-space: nowrap;
            cursor: move;
            &::-webkit-scrollbar {
                display: none;
            }
            a {
                width: auto !important;
                margin-right: 10px !important;
                line-height: 1rem !important;
                font-size: 12px !important;
                padding: 10px 20px 8px 20px !important;
                border-radius: 20px;
                color: $rouge;
                border: 1px $gris solid;
                background-color: transparent;
                &:hover {
                    padding: 10px 20px 8px 20px !important;
                    color: $blanc !important;
                    background-color: $rouge;
                    border: 1px $rouge solid !important;
                }
            }
            .current {
                color: $blanc !important;
                background-color: $rouge !important;
                border: 1px $rouge solid !important;
            }
            .arterite-des-membres-inferieurs {
                margin-right: 0 !important;
                padding-right: 15px !important;
            }
        }
    }
}
@media screen and (max-width: $md) {
    .custom-nav-top {
        a {
            margin: 0 10px !important;
            font-size: 16px !important;
        }
    }
    .custom-nav-bottom {
        a {
            font-size: 12px !important;
        }
    }
}
@media screen and (max-width: $xs) {
    .custom-nav-top {
        a {
            display: block !important;
            margin-bottom: 10px !important;
            font-size: 14px !important;
        }
        .custom-nav-pec {
            width: auto !important;
        }
        .custom-nav-suivi {
            width: auto !important;
            margin-bottom: 0 !important;
        }
    }
}




/* Fil d'arianne */

#block-alto-breadcrumbs {
    .breadcrumb {
        background-color: transparent;
        padding-left: 0;
        padding-bottom: 0;
        border-radius: 0;
        opacity: 0.6;
        border-bottom: 2px $gris solid;
        a {
            color: $gris;
            text-decoration: none;
            font-size: 14px;
            &:hover {
                color: $rouge;
            }
            &:before {
                content: "";
                position: absolute;
                width: 20px;
                height: 6px;
                background-color: $gris;
                top: 31px;
                left: 0;
            }
        }
        .breadcrumb-item {
            color: $gris;
            text-decoration: none;
            font-size: 14px;
            &:first-of-type {
                padding-left: 60px;
                @media screen and (max-width: $md) {
                    padding-left: 0;
                }
            }
        }
    }
}
.path-frontpage {
    .breadcrumb {
        border-bottom: none !important;
        .breadcrumb-item {
            border-bottom: 2px $gris solid;
        }
    }
}



/* Page d'accueil */

.path-frontpage {
    main {
        h2 {
            margin-top: 20px;
            @media screen and (max-width: $lg) {
                font-size: 30px;
            }
            @media screen and (max-width: $md) {
                font-size: 25px;
            }
            span {
                font-family: $agg_demi;
                font-size: 50px;
                color: $rouge;
                @media screen and (max-width: $lg) {
                    font-size: 40px;
                }
                @media screen and (max-width: $md) {
                    font-size: 30px;
                }
            }
            .lettre-vert {
                color: $vert;
            }
        }
        h3 {
            font-family: $agg_bold;
            font-size: 26px;
            padding: 0;
            color: $blanc;
            background-color: inherit;
            @media screen and (max-width: $md) {
                font-size: 22px;
            }
        }
        .bandeau-accueil-content-wrapper {
            .bandeau-accueil-content {
                padding: 15px;
            }
            margin: 40px 0 20px 0;
            padding: 10px;
            background-color: $rouge;
            border-radius: 25px;
            h3 {
                margin: 0;
            }
            p {
                color: $blanc;
                margin-top: 20px;
                margin-bottom: 0;
                opacity: 0.6;
            }
        }
        .accueil-content-description {
            h3 {
                margin-top: 40px;
                margin-bottom: 20px;
                color: $rouge;
            }
        }
    }
}




/* Pages Comprendre / Prise en charge / Suivi */

.contenu-page-left {
    padding-left: 0 !important;
    padding-right: 0 !important;
    h2 {
        margin-top: 40px;
        margin-bottom: 30px;
    }
    h3 {
        margin-bottom: 40px;
        padding: 12px 30px 5px 30px;
        color: $blanc;
        background-color: $rouge;
    }
    h4 {
        margin-bottom: 20px;
    }
    h6 {
        font-family: $agg_book;
        font-size: 16px;
        color: $gris_fonce;
        background-color: $gris;
        display: inline-block;
        padding: 10px 60px 5px 60px;
        position: relative;
        left: -60px;
        margin-bottom: 20px;
    }
    .section-page-auto {
        border-bottom: 1px $gris solid;
        margin-left: 60px;
        margin-bottom: 40px;
        padding-bottom: 20px;
        @media screen and (min-width: $md) {
            scroll-margin-top: 170px;
        }
        &:last-of-type {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        @media screen and (max-width: $md) {
            margin-left: 0;
        }
    }
    a {
        color: $gris;
        u {
            color: $gris;
        }
    }
    img {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 100%;
    }
    p {
        strong {
            color: $gris_fonce;
        }
    }
}
ul {
    padding-left: 15px;
    li {
        &::marker {
            color: $rouge;
        }
        a {
            color: $gris;
            text-decoration: underline;
        }
    }
    strong {
        color: $gris_fonce;
    }
}
blockquote {
    background-color: $vert;
    margin: 0 0 30px 0;
    padding: 20px 20px 1px 20px;
    border-radius: 20px;
    p {
        color: $blanc;
    }
    li {
        color: $blanc;
        &::marker {
            color: $blanc;
        }
    }
    a {
        color: $blanc !important;
        text-decoration: underline;
        u {
            color: $blanc !important;
        }
    }
    strong {
        color: $blanc;
        font-size: 17px;
    }
}
em {
    a {
        color: $vert;
        text-decoration: underline;
        u {
            color: $vert !important;
        }
    }
}
li {
    &:first-child {
        span {
            color: $rouge;
        }
    }
    span {
        color: $bleu;
    }
}
p {
    span {
        color: $rouge;
    }
}
.contenu-page-right {
    top: -50px;
    @media screen and (max-width: $sm) {
        top: 0;
        padding: 0;
    }
    .menu-sticky-title {
        font-family: $agg_bold;
        font-size: 18px;
        display: block;
        margin-bottom: 5px;
        @media screen and (max-width: $md) {
            font-size: 16px;
        }
    }
    .sidebar-menu-scrollspy {
        color: $rouge;
        @media screen and (max-width: $md) {
            display: none;
        }
    }
    .sidebar-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @media screen and (max-width: $md) {
            position: relative;
        }
    }
    .make-me-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 170px;
        padding: 0 15px;
        @media screen and (max-width: $sm) {
            padding: 0;
            position: relative;
            top: 0;
        }
    }
    .nav-item {
        .nav-link {
            color: $gris;
            border-bottom: 1px $gris solid;
            background-color: transparent !important;
            font-size: 14px;
            padding-left: 0;
            padding-bottom: 0;
            margin-top: 10px;
            border-radius: 0;
            font-family: $agg_book;
            text-decoration: none;
        }
        .active {
            color: $rouge !important;
            border-bottom: 1px $rouge solid;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 27px;
                left: 0;
                width: 80px;
                height: 5px;
                background-color: $rouge;
            }
        }
    }
    .sidebar-telechargements {
        margin-top: 40px;
        .menu-sticky-title {
            color: $vert;
        }
        .views-row {
            width: 100%;
        }
        .contenu-telechargements-liens-item {
            position: relative;
        }
        a {
            font-family: $agg_book;
            display: block;
            text-decoration: none;
            color: $gris;
            border-bottom: 1px $gris solid;
            font-size: 14px;
            padding-left: 0;
            padding-bottom: 0;
            margin-top: 15px;
            border-radius: 0;
            padding-bottom: 3px;
            &:hover {
                color: $vert;
            }
            &:before {
                content: url("../images/telechargement-lien.png");
                position: absolute;
                top: -3px;
                right: 5px;
                width: 37px;
                height: 28px;
                @media screen and (max-width: $md) {
                    display: none;
                }
            }
            
        }
        .showmore-button {
            position: relative;
            text-align: right;
            padding-right: 25px;
            color: $gris;
            cursor: pointer;
            font-family: $agg_book;
            font-size: 13px;
            margin-top: 10px;
            &:before {
                content: url("../images/arrow.png");
                position: absolute;
                top: 0;
                right: 0;
                width: 15px;
                height: 9px;
            }
        }
    }
    .quizz-lien {
        margin-top: 40px;
        background-color: $rouge;
        display: block;
        text-align: center;
        padding: 10px 0;
        color: $blanc;
        text-decoration: none;
        font-family: $agg_book;
        font-size: 13px;
    }
}
.page-node-12,
.page-node-13 {
    .nav-item:last-child {
        .active {
            &:before {
                top: 48px !important;
            }
        }
    }
}
.page-node-14,
.page-node-15,
.page-node-16,
.page-node-17 {
    .nav-item:nth-child(3) {
        .active {
            &:before {
                top: 48px !important;
            }
        }
    }
}
@media screen and (max-width: $lg) {
    .page-node-3 {
        .nav-item:last-child {
            .active {
                &:before {
                    top: 48px !important;
                }
            }
        }
    }
    .page-node-11,
    .page-node-14,
    .page-node-15,
    .page-node-16,
    .page-node-17 {
        .nav-item:nth-child(2) {
            .active {
                &:before {
                    top: 48px !important;
                }
            }
        }
    }
}
#trucs-et-astuces {
    border-bottom: none;
    margin-bottom: 0;
    h4 {
        font-family: $agg_book;
        font-size: 16px;
        color: $gris_fonce;
        background-color: $gris;
        display: inline-block;
        padding: 10px 60px 5px 60px;
        position: relative;
        left: -60px;
        margin-bottom: 20px;
    }
    li {
        color: $gris_fonce;
        &::marker {
            color: $gris_fonce;
        }
    }
}
#mon-memo {
    border-bottom: none;
    padding: 20px 20px 1px 20px;
    background-color: $rouge;
    border-radius: 20px;
    p, li {
        color: $blanc;
    }
    li {
        opacity: 0.6;
        &::marker {
            color: $blanc;
        }
    }
}




/* Quizz */

.quizz-dot-wrapper {
    position: relative;
    margin: 20px 0 30px 0;
    span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: $gris;
        border-radius: 10px;
    }
    .active {
        position: relative;
        top: 2px;
        background-color: $vert;
        width: 15px;
        height: 15px;
    }
}
.quizz-titre {
    h3 {
        background-color: transparent;
        color: $bleu_fonce;
        padding: 0 15px;
        margin-top: 10px;
    }
}
.quizz-custom-wrapper {
    min-height: 500px;
}
.quizz-question-wrapper {
    .quizz-question {
        position: relative;
        margin-bottom: 20px;
        .reponse-a,
        .reponse-b,
        .reponse-c,
        .reponse-d {
            height: 100%;
        }
        span {
            position: absolute;
            top: 1px;
            left: 21px;
            color: $vert;
            &:hover {
                cursor: pointer;
            }
        }
        button {
            width: 100%;
            height: 100%;
            background-color: $blanc;
            border: 1px $vert solid;
            padding: 20px 30px;
            display: inline-block;
            color: $vert;
            border-radius: 5px;
        }
        .active {
            button {
                background-color: $rouge;
                border: 1px $rouge solid;
                color: $blanc;
            }
            span {
                color: $blanc;
            }
        }
        .reponse-validee-ok {
            button {
                background-color: $vert_opacity;
                border: 1px $vert solid;
                color: $vert;
            }
            span {
                color: $vert;
            }
        }
        .reponse-validee-nok {
            button {
                background-color: $rouge_opacity;
                border: 1px $rouge solid;
                color: $rouge;
            }
            span {
                color: $rouge;
            }
        }
    }
}
.quizz-question-reponse {
    padding: 0 15px;
    .titre-rep-ok,
    .texte-rep-ok,
    p {
        color: $vert;
    }
    .titre-rep-nok {
        color: $rouge;
    }
    .titre-rep-ok,
    .texte-rep-ok,
    .titre-rep-nok {
        font-size: 18px;
        font-family: $agg_bold;
    }
}
.validation-questions {
    margin-top: 20px;
    padding: 0 15px;
    @media screen and (max-width: $md) {
        margin-top: 60px;
    }
    button {
        float: right;
        width: 250px;
        padding: 5px 0;
        margin-bottom: 40px;
        background-color: $vert;
        border: 1px $vert solid;
        display: inline-block;
        color: $blanc;
        border-radius: 5px;
    }
}




/* Pages basiques */

.node--type-page {
    h2 {
        margin: 60px 0 10px 0;
    }
    h3, h4, h5 {
        margin: 10px 0;
    }
    a {
        color: $rouge;
    }
}




/* Page de connexion */

.page-user-login {
    #block-alto-breadcrumbs {
        display: none;
    } 
    #edit-submit {
        background-color: $vert;
        border-color: $vert;
    }
}




/* Page 404 */

.page-404 {
    margin-top: 60px;
    text-align: center;
    .bouton-404 {
        margin-top: 30px;
        a {
            padding: 10px 30px;
            background-color: $rouge;
            color: $blanc;
            text-decoration: none;
        }
    }
}




/* Footer */

footer {
    background-color: $gris_fonce;
    margin-top: 100px;
    #block-footerpersonnalise-2 {
        width: 100%;
        padding: 30px 0 10px 0;
        .fieldset-legend {
            display: none;
        }
        .field-item {
            margin-bottom: 5px;
        }
        a {
            color: $blanc;
            font-family: $agg_demi;
            font-size: 12px;
            text-decoration: none;
            &:hover,
            &:focus {
                color: $gris;
            }
        }
        p {
            font-size: 12px;
        }
        .field--name-field-label-lien-2 {
            margin-bottom: 20px;
        }
        @media screen and (max-width: $sm) {
            .form-group {
                margin-bottom: 30px;
            }
        }
    }
}