@charset "UTF-8";
/**
 * @file
 * Subtheme specific CSS.
 */
/* Fonts */
@font-face {
  font-family: "ITC Avant Garde Gothic Std Book";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Book"), url("../fonts/ITCAvantGardeStdBk.woff") format("woff");
}
@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Demi"), url("../fonts/ITCAvantGardeStdDemi.woff") format("woff");
}
@font-face {
  font-family: "ITC Avant Garde Gothic Std Bold";
  font-style: normal;
  font-weight: normal;
  src: local("ITC Avant Garde Gothic Std Bold"), url("../fonts/ITCAvantGardeStdBold.woff") format("woff");
}
/* Variables */
/* Global & reset */
body {
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}

h1 {
  font-family: "ITC Avant Garde Gothic Std Bold";
  font-size: 48px;
  color: #FFFFFF;
}
@media screen and (max-width: 991.98px) {
  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 840px) {
  h1 {
    font-size: 34px;
  }
}
@media screen and (max-width: 575.98px) {
  h1 {
    font-size: 32px;
  }
}
h1 span {
  color: #FF5769;
}

h2 {
  font-family: "ITC Avant Garde Gothic Std Book";
  font-size: 35px;
  color: #FF5769;
}
@media screen and (max-width: 991.98px) {
  h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  h2 {
    font-size: 25px;
  }
}

h3 {
  display: inline-block;
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-size: 27px;
  color: #FF5769;
}
@media screen and (max-width: 991.98px) {
  h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 767.98px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-family: "ITC Avant Garde Gothic Std Bold";
  font-size: 26px;
  color: #FF5769;
}
@media screen and (max-width: 991.98px) {
  h4 {
    font-size: 22px;
  }
}

h5 {
  font-family: "ITC Avant Garde Gothic Std Bold";
  font-size: 20px;
  color: #47C3C6;
  margin: 40px 0 20px 0;
}
@media screen and (max-width: 991.98px) {
  h5 {
    font-size: 18px;
  }
}

p, ul, li {
  font-family: "ITC Avant Garde Gothic Std Book";
  font-size: 16px;
  color: #84939F;
}
p em, ul em, li em {
  font-style: normal;
  color: #47C3C6;
  background-color: #F3F9FF;
}

a, button {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.accueil-content {
  margin-left: 60px;
}
@media screen and (max-width: 991.98px) {
  .accueil-content {
    margin-left: 0;
  }
}

main {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Header */
header nav {
  background-color: #FF5769;
  padding: 20px 15px 0 15px;
}
@media screen and (max-width: 575.98px) {
  header nav {
    padding: 20px 15px 20px 15px;
  }
}
header nav .header-nav {
  position: relative;
}
@media screen and (max-width: 991.98px) {
  header nav .header-nav .logo-alto {
    width: 30%;
  }
}
header nav .header-nav .logo-bayer {
  position: absolute;
  top: 13px;
  right: 15px;
}
@media screen and (max-width: 991.98px) {
  header nav .header-nav .logo-bayer {
    top: -7px;
  }
}
header nav .header-nav .logo-texte-alto {
  width: 100%;
  margin-top: 10px;
  position: relative;
  top: 2px;
  z-index: 1;
}
@media screen and (max-width: 575.98px) {
  header nav .header-nav .logo-texte-alto {
    display: none;
  }
}
header .header-top-image-wrapper {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}
@media screen and (max-width: 991.98px) {
  header .header-top-image-wrapper {
    height: 480px;
  }
}
@media screen and (max-width: 767.98px) {
  header .header-top-image-wrapper {
    height: 380px;
  }
}
header .header-top-image-wrapper .header-top-image {
  position: relative;
  top: 100px;
}
@media screen and (max-width: 991.98px) {
  header .header-top-image-wrapper .header-top-image {
    top: 220px;
  }
}
@media screen and (max-width: 767.98px) {
  header .header-top-image-wrapper .header-top-image {
    top: 150px;
  }
}
@media screen and (max-width: 575.98px) {
  header .header-top-image-wrapper .header-top-image {
    top: 110px;
  }
}
@media screen and (max-width: 767.98px) {
  header .header-top-image-wrapper .header-top-image .container {
    margin: 0;
    max-width: 100%;
  }
}
header .header-top-image-wrapper .header-top-image h1 {
  width: 440px;
}
@media screen and (max-width: 991.98px) {
  header .header-top-image-wrapper .header-top-image h1 {
    width: 100%;
  }
}
header .custom-search-nav button {
  background-color: #47C3C6;
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-size: 20px;
  color: #FFFFFF;
  line-height: 1.5rem;
  text-align: inherit;
  border: none;
  padding: 0;
  position: fixed;
  top: 240px;
  right: 0;
  width: 180px;
  border-radius: 0;
  z-index: 2;
}
@media screen and (max-width: 1460px) {
  header .custom-search-nav button {
    width: 55px;
  }
}
header .custom-search-nav button:hover, header .custom-search-nav button:focus, header .custom-search-nav button:active {
  background-color: #47C3C6;
  border: none;
}
@media screen and (max-width: 1460px) {
  header .custom-search-nav-pc {
    display: none;
  }
}
header .custom-search-nav-pc .custom-search-nav button {
  padding: 10px 10px 5px 20px;
}
header .custom-search-nav-pc .custom-search-nav img {
  margin-bottom: 5px;
  display: block;
}
@media screen and (min-width: 1460px) {
  header .custom-search-nav-mobile {
    display: none;
  }
}
header .custom-search-nav-mobile button {
  padding: 10px 10px 5px 20px;
  top: 160px;
}
@media screen and (max-width: 1460px) {
  header .custom-search-nav-mobile button {
    padding: 15px;
  }
}

.modal-content {
  overflow: hidden;
}

.modal-header {
  display: block;
  text-align: center;
  padding-top: 40px;
  border-bottom: none;
}
.modal-header .modal-header-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.modal-header .close {
  font-family: "ITC Avant Garde Gothic Std Book";
  color: #FF5769;
  font-size: 50px;
  position: relative;
  top: -30px;
}
.modal-header h5 {
  margin-bottom: 15px;
}
.modal-header p {
  margin-bottom: 0;
  color: #47C3C6;
}
@media screen and (max-width: 991.98px) {
  .modal-header p {
    font-size: 14px;
  }
}

.modal-body {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}
.modal-body .row.justify-content-md-center {
  margin-bottom: 80px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1199.98px) {
  .modal-body .row.justify-content-md-center {
    margin-bottom: 60px;
  }
}
.modal-body .modal-decoration-pc {
  position: absolute;
  bottom: 30px;
  left: -220px;
  width: 163%;
  z-index: 1;
}
@media screen and (max-width: 1199.98px) {
  .modal-body .modal-decoration-pc {
    display: none;
  }
}
.modal-body .modal-decoration-mobile-left {
  display: none;
}
@media screen and (max-width: 1199.98px) {
  .modal-body .modal-decoration-mobile-left {
    display: block;
    position: absolute;
    bottom: 0;
    left: -100px;
    width: 200px;
    z-index: 1;
  }
}
@media screen and (max-width: 991.98px) {
  .modal-body .modal-decoration-mobile-left {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .modal-body .modal-decoration-mobile-left {
    display: block;
  }
}
.modal-body .modal-decoration-mobile-right {
  display: none;
}
@media screen and (max-width: 1199.98px) {
  .modal-body .modal-decoration-mobile-right {
    display: block;
    position: absolute;
    bottom: 0;
    right: -100px;
    width: 200px;
    z-index: 1;
  }
}
@media screen and (max-width: 991.98px) {
  .modal-body .modal-decoration-mobile-right {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .modal-body .modal-decoration-mobile-right {
    display: block;
  }
}
.modal-body h6 {
  width: 100%;
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-size: 26px;
  color: #384A6F;
  margin-bottom: 80px;
}
@media screen and (max-width: 991.98px) {
  .modal-body h6 {
    font-size: 24px;
    margin-bottom: 40px;
    font-size: 18px;
  }
}
.modal-body #modal-body-entree-oui,
.modal-body .close {
  position: relative;
  width: 100%;
  color: #384A6F;
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-size: 26px;
  line-height: 1.4;
  padding-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px #47C3C6 solid;
}
@media screen and (max-width: 991.98px) {
  .modal-body #modal-body-entree-oui,
.modal-body .close {
    font-size: 24px;
    border-bottom: none;
  }
}
@media screen and (max-width: 767.98px) {
  .modal-body #modal-body-entree-oui,
.modal-body .close {
    font-size: 20px;
  }
}
.modal-body #modal-body-entree-oui span,
.modal-body .close span {
  display: block;
  color: #47C3C6;
  font-family: "ITC Avant Garde Gothic Std Book";
  font-size: 16px;
}
.modal-body #modal-body-entree-oui:after,
.modal-body .close:after {
  content: "";
  position: absolute;
  width: 120px;
  height: 5px;
  background-color: #47C3C6;
  bottom: -3px;
  left: 37px;
}
@media screen and (max-width: 991.98px) {
  .modal-body #modal-body-entree-oui:after,
.modal-body .close:after {
    width: 80px;
    left: 23px;
  }
}
@media screen and (max-width: 767.98px) {
  .modal-body #modal-body-entree-oui:after,
.modal-body .close:after {
    display: none;
  }
}
.modal-body #modal-body-entree-oui:hover,
.modal-body .close:hover {
  opacity: 1 !important;
}
@media screen and (max-width: 767.98px) {
  .modal-body #modal-body-entree-oui {
    padding-bottom: 20px;
  }
}
.modal-body .button-modal-custom {
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  border: 1px #47C3C6 solid;
  margin-bottom: 20px;
  box-shadow: 0 6px 10px 0px #d4d4d4;
  display: inline-block;
  align-items: flex-start;
  color: #47C3C6;
  border-radius: 5px;
}
@media screen and (max-width: 991.98px) {
  .modal-body .button-modal-custom {
    height: 60px;
    font-size: 16px;
  }
}
.modal-body a.button-modal-custom {
  line-height: 1.2em;
  padding-top: 25px;
  text-decoration: none;
}
@media screen and (max-width: 991.98px) {
  .modal-body a.button-modal-custom {
    padding-top: 20px;
  }
}

/* Navigation personnalisée */
.custom-sticky-nav {
  position: fixed !important;
  background-color: #FFFFFF !important;
  width: 100% !important;
  top: 0 !important;
  z-index: 10 !important;
}
.custom-sticky-nav .custom-nav-top-wrapper {
  padding: 0 !important;
}
.custom-sticky-nav .container {
  max-width: 100% !important;
  padding: 0 !important;
}

.top-sticky-nav-space {
  top: 130px !important;
  margin-bottom: 120px !important;
}

.wrapper-custom-nav {
  position: relative;
  top: -35px;
}
.wrapper-custom-nav .custom-nav-top-wrapper,
.wrapper-custom-nav .custom-nav-bottom-wrapper {
  padding: 0 15px;
}
.wrapper-custom-nav .custom-nav-top {
  background-color: #47C3C6;
  text-align: center;
  padding: 15px;
}
.wrapper-custom-nav .custom-nav-top:before {
  content: url("../images/dot-x2.png");
  position: relative;
  width: 20px;
  height: 6px;
  top: -3px;
  left: 205px;
}
@media screen and (max-width: 991.98px) {
  .wrapper-custom-nav .custom-nav-top:before {
    display: none;
  }
}
.wrapper-custom-nav .custom-nav-top:after {
  content: url("../images/dot-x2.png");
  position: relative;
  width: 20px;
  height: 6px;
  top: -3px;
  right: 120px;
}
@media screen and (max-width: 991.98px) {
  .wrapper-custom-nav .custom-nav-top:after {
    display: none;
  }
}
.wrapper-custom-nav .custom-nav-top a {
  margin: 0 30px;
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-size: 20px;
  color: #FFFFFF;
  vertical-align: middle;
  line-height: 1.25rem;
  opacity: 0.6;
  text-decoration: none;
}
.wrapper-custom-nav .custom-nav-top a:hover {
  opacity: 1;
}
.wrapper-custom-nav .custom-nav-top .custom-nav-pec {
  width: 100px;
}
.wrapper-custom-nav .custom-nav-top .active {
  opacity: 1 !important;
  border-bottom: 4px #FFFFFF solid;
  padding-bottom: 11px;
}
@media screen and (max-width: 1199.98px) {
  .wrapper-custom-nav .custom-nav-top .active {
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 991.98px) {
  .wrapper-custom-nav .custom-nav-top .active {
    padding-bottom: 13px;
  }
}
@media screen and (max-width: 575.98px) {
  .wrapper-custom-nav .custom-nav-top .active {
    border-bottom: none;
    padding-bottom: 0;
  }
}
.wrapper-custom-nav .custom-nav-bottom-wrapper {
  border-bottom: 2px #FF5769 solid;
}
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom {
  padding-top: 30px;
  padding-bottom: 0;
  text-align: center;
  position: relative;
  top: 4px;
}
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom a {
  display: inline-block;
  font-family: "ITC Avant Garde Gothic Std Book";
  font-size: 16px;
  color: #84939F;
  text-decoration: none;
  margin-right: 75px;
  vertical-align: middle;
  padding-bottom: 15px;
  line-height: 1.2rem;
}
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom a:hover, .wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom a:focus {
  color: #FF5769;
}
@media screen and (max-width: 1199.98px) {
  .wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom a {
    margin-right: 33px;
  }
}
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .arythmie-cardiaque,
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .avc,
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .phlebite {
  line-height: 2rem;
}
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .embolie-pulmonaire {
  width: 150px;
}
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .maladie-coronaire {
  width: 140px;
}
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .arterite-des-membres-inferieurs {
  width: 170px;
  margin-right: 0;
}
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .current {
  color: #FF5769;
  border-bottom: 6px #FF5769 solid;
}
@media screen and (max-width: 991.98px) {
  .wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .custom-nav-bottom-comprendre,
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .custom-nav-bottom-prise-en-charge,
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .custom-nav-bottom-suivi {
    overflow-x: auto;
    white-space: nowrap;
  }
  .wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .custom-nav-bottom-comprendre::-webkit-scrollbar,
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .custom-nav-bottom-prise-en-charge::-webkit-scrollbar,
.wrapper-custom-nav .custom-nav-bottom-wrapper .custom-nav-bottom .custom-nav-bottom-suivi::-webkit-scrollbar {
    display: none;
  }
}
.wrapper-custom-nav .custom-nav-bottom-wrapper .active {
  display: block !important;
}
.wrapper-custom-nav .custom-nav-bottom-wrapper .hide {
  display: none !important;
}

@media screen and (max-width: 991.98px) {
  .custom-nav-bottom {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    top: 0 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .custom-nav-bottom .custom-nav-bottom-comprendre,
.custom-nav-bottom .custom-nav-bottom-prise-en-charge,
.custom-nav-bottom .custom-nav-bottom-suivi {
    overflow-x: auto;
    white-space: nowrap;
    cursor: move;
  }
  .custom-nav-bottom .custom-nav-bottom-comprendre::-webkit-scrollbar,
.custom-nav-bottom .custom-nav-bottom-prise-en-charge::-webkit-scrollbar,
.custom-nav-bottom .custom-nav-bottom-suivi::-webkit-scrollbar {
    display: none;
  }
  .custom-nav-bottom .custom-nav-bottom-comprendre a,
.custom-nav-bottom .custom-nav-bottom-prise-en-charge a,
.custom-nav-bottom .custom-nav-bottom-suivi a {
    width: auto !important;
    margin-right: 10px !important;
    line-height: 1rem !important;
    font-size: 12px !important;
    padding: 10px 20px 8px 20px !important;
    border-radius: 20px;
    color: #FF5769;
    border: 1px #84939F solid;
    background-color: transparent;
  }
  .custom-nav-bottom .custom-nav-bottom-comprendre a:hover,
.custom-nav-bottom .custom-nav-bottom-prise-en-charge a:hover,
.custom-nav-bottom .custom-nav-bottom-suivi a:hover {
    padding: 10px 20px 8px 20px !important;
    color: #FFFFFF !important;
    background-color: #FF5769;
    border: 1px #FF5769 solid !important;
  }
  .custom-nav-bottom .custom-nav-bottom-comprendre .current,
.custom-nav-bottom .custom-nav-bottom-prise-en-charge .current,
.custom-nav-bottom .custom-nav-bottom-suivi .current {
    color: #FFFFFF !important;
    background-color: #FF5769 !important;
    border: 1px #FF5769 solid !important;
  }
  .custom-nav-bottom .custom-nav-bottom-comprendre .arterite-des-membres-inferieurs,
.custom-nav-bottom .custom-nav-bottom-prise-en-charge .arterite-des-membres-inferieurs,
.custom-nav-bottom .custom-nav-bottom-suivi .arterite-des-membres-inferieurs {
    margin-right: 0 !important;
    padding-right: 15px !important;
  }
}
@media screen and (max-width: 991.98px) {
  .custom-nav-top a {
    margin: 0 10px !important;
    font-size: 16px !important;
  }

  .custom-nav-bottom a {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 575.98px) {
  .custom-nav-top a {
    display: block !important;
    margin-bottom: 10px !important;
    font-size: 14px !important;
  }
  .custom-nav-top .custom-nav-pec {
    width: auto !important;
  }
  .custom-nav-top .custom-nav-suivi {
    width: auto !important;
    margin-bottom: 0 !important;
  }
}
/* Fil d'arianne */
#block-alto-breadcrumbs .breadcrumb {
  background-color: transparent;
  padding-left: 0;
  padding-bottom: 0;
  border-radius: 0;
  opacity: 0.6;
  border-bottom: 2px #84939F solid;
}
#block-alto-breadcrumbs .breadcrumb a {
  color: #84939F;
  text-decoration: none;
  font-size: 14px;
}
#block-alto-breadcrumbs .breadcrumb a:hover {
  color: #FF5769;
}
#block-alto-breadcrumbs .breadcrumb a:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 6px;
  background-color: #84939F;
  top: 31px;
  left: 0;
}
#block-alto-breadcrumbs .breadcrumb .breadcrumb-item {
  color: #84939F;
  text-decoration: none;
  font-size: 14px;
}
#block-alto-breadcrumbs .breadcrumb .breadcrumb-item:first-of-type {
  padding-left: 60px;
}
@media screen and (max-width: 991.98px) {
  #block-alto-breadcrumbs .breadcrumb .breadcrumb-item:first-of-type {
    padding-left: 0;
  }
}

.path-frontpage .breadcrumb {
  border-bottom: none !important;
}
.path-frontpage .breadcrumb .breadcrumb-item {
  border-bottom: 2px #84939F solid;
}

/* Page d'accueil */
.path-frontpage main h2 {
  margin-top: 20px;
}
@media screen and (max-width: 1199.98px) {
  .path-frontpage main h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 991.98px) {
  .path-frontpage main h2 {
    font-size: 25px;
  }
}
.path-frontpage main h2 span {
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-size: 50px;
  color: #FF5769;
}
@media screen and (max-width: 1199.98px) {
  .path-frontpage main h2 span {
    font-size: 40px;
  }
}
@media screen and (max-width: 991.98px) {
  .path-frontpage main h2 span {
    font-size: 30px;
  }
}
.path-frontpage main h2 .lettre-vert {
  color: #47C3C6;
}
.path-frontpage main h3 {
  font-family: "ITC Avant Garde Gothic Std Bold";
  font-size: 26px;
  padding: 0;
  color: #FFFFFF;
  background-color: inherit;
}
@media screen and (max-width: 991.98px) {
  .path-frontpage main h3 {
    font-size: 22px;
  }
}
.path-frontpage main .bandeau-accueil-content-wrapper {
  margin: 40px 0 20px 0;
  padding: 10px;
  background-color: #FF5769;
  border-radius: 25px;
}
.path-frontpage main .bandeau-accueil-content-wrapper .bandeau-accueil-content {
  padding: 15px;
}
.path-frontpage main .bandeau-accueil-content-wrapper h3 {
  margin: 0;
}
.path-frontpage main .bandeau-accueil-content-wrapper p {
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 0;
  opacity: 0.6;
}
.path-frontpage main .accueil-content-description h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #FF5769;
}

/* Pages Comprendre / Prise en charge / Suivi */
.contenu-page-left {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.contenu-page-left h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}
.contenu-page-left h3 {
  margin-bottom: 40px;
  padding: 12px 30px 5px 30px;
  color: #FFFFFF;
  background-color: #FF5769;
}
.contenu-page-left h4 {
  margin-bottom: 20px;
}
.contenu-page-left h6 {
  font-family: "ITC Avant Garde Gothic Std Book";
  font-size: 16px;
  color: #414951;
  background-color: #84939F;
  display: inline-block;
  padding: 10px 60px 5px 60px;
  position: relative;
  left: -60px;
  margin-bottom: 20px;
}
.contenu-page-left .section-page-auto {
  border-bottom: 1px #84939F solid;
  margin-left: 60px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
@media screen and (min-width: 991.98px) {
  .contenu-page-left .section-page-auto {
    scroll-margin-top: 170px;
  }
}
.contenu-page-left .section-page-auto:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 991.98px) {
  .contenu-page-left .section-page-auto {
    margin-left: 0;
  }
}
.contenu-page-left a {
  color: #84939F;
}
.contenu-page-left a u {
  color: #84939F;
}
.contenu-page-left img {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}
.contenu-page-left p strong {
  color: #414951;
}

ul {
  padding-left: 15px;
}
ul li::marker {
  color: #FF5769;
}
ul li a {
  color: #84939F;
  text-decoration: underline;
}
ul strong {
  color: #414951;
}

blockquote {
  background-color: #47C3C6;
  margin: 0 0 30px 0;
  padding: 20px 20px 1px 20px;
  border-radius: 20px;
}
blockquote p {
  color: #FFFFFF;
}
blockquote li {
  color: #FFFFFF;
}
blockquote li::marker {
  color: #FFFFFF;
}
blockquote a {
  color: #FFFFFF !important;
  text-decoration: underline;
}
blockquote a u {
  color: #FFFFFF !important;
}
blockquote strong {
  color: #FFFFFF;
  font-size: 17px;
}

em a {
  color: #47C3C6;
  text-decoration: underline;
}
em a u {
  color: #47C3C6 !important;
}

li:first-child span {
  color: #FF5769;
}
li span {
  color: #017DD9;
}

p span {
  color: #FF5769;
}

.contenu-page-right {
  top: -50px;
}
@media screen and (max-width: 767.98px) {
  .contenu-page-right {
    top: 0;
    padding: 0;
  }
}
.contenu-page-right .menu-sticky-title {
  font-family: "ITC Avant Garde Gothic Std Bold";
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}
@media screen and (max-width: 991.98px) {
  .contenu-page-right .menu-sticky-title {
    font-size: 16px;
  }
}
.contenu-page-right .sidebar-menu-scrollspy {
  color: #FF5769;
}
@media screen and (max-width: 991.98px) {
  .contenu-page-right .sidebar-menu-scrollspy {
    display: none;
  }
}
.contenu-page-right .sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 991.98px) {
  .contenu-page-right .sidebar-item {
    position: relative;
  }
}
.contenu-page-right .make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 170px;
  padding: 0 15px;
}
@media screen and (max-width: 767.98px) {
  .contenu-page-right .make-me-sticky {
    padding: 0;
    position: relative;
    top: 0;
  }
}
.contenu-page-right .nav-item .nav-link {
  color: #84939F;
  border-bottom: 1px #84939F solid;
  background-color: transparent !important;
  font-size: 14px;
  padding-left: 0;
  padding-bottom: 0;
  margin-top: 10px;
  border-radius: 0;
  font-family: "ITC Avant Garde Gothic Std Book";
  text-decoration: none;
}
.contenu-page-right .nav-item .active {
  color: #FF5769 !important;
  border-bottom: 1px #FF5769 solid;
  position: relative;
}
.contenu-page-right .nav-item .active:before {
  content: "";
  position: absolute;
  top: 27px;
  left: 0;
  width: 80px;
  height: 5px;
  background-color: #FF5769;
}
.contenu-page-right .sidebar-telechargements {
  margin-top: 40px;
}
.contenu-page-right .sidebar-telechargements .menu-sticky-title {
  color: #47C3C6;
}
.contenu-page-right .sidebar-telechargements .views-row {
  width: 100%;
}
.contenu-page-right .sidebar-telechargements .contenu-telechargements-liens-item {
  position: relative;
}
.contenu-page-right .sidebar-telechargements a {
  font-family: "ITC Avant Garde Gothic Std Book";
  display: block;
  text-decoration: none;
  color: #84939F;
  border-bottom: 1px #84939F solid;
  font-size: 14px;
  padding-left: 0;
  padding-bottom: 0;
  margin-top: 15px;
  border-radius: 0;
  padding-bottom: 3px;
}
.contenu-page-right .sidebar-telechargements a:hover {
  color: #47C3C6;
}
.contenu-page-right .sidebar-telechargements a:before {
  content: url("../images/telechargement-lien.png");
  position: absolute;
  top: -3px;
  right: 5px;
  width: 37px;
  height: 28px;
}
@media screen and (max-width: 991.98px) {
  .contenu-page-right .sidebar-telechargements a:before {
    display: none;
  }
}
.contenu-page-right .sidebar-telechargements .showmore-button {
  position: relative;
  text-align: right;
  padding-right: 25px;
  color: #84939F;
  cursor: pointer;
  font-family: "ITC Avant Garde Gothic Std Book";
  font-size: 13px;
  margin-top: 10px;
}
.contenu-page-right .sidebar-telechargements .showmore-button:before {
  content: url("../images/arrow.png");
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 9px;
}
.contenu-page-right .quizz-lien {
  margin-top: 40px;
  background-color: #FF5769;
  display: block;
  text-align: center;
  padding: 10px 0;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "ITC Avant Garde Gothic Std Book";
  font-size: 13px;
}

.page-node-12 .nav-item:last-child .active:before,
.page-node-13 .nav-item:last-child .active:before {
  top: 48px !important;
}

.page-node-14 .nav-item:nth-child(3) .active:before,
.page-node-15 .nav-item:nth-child(3) .active:before,
.page-node-16 .nav-item:nth-child(3) .active:before,
.page-node-17 .nav-item:nth-child(3) .active:before {
  top: 48px !important;
}

@media screen and (max-width: 1199.98px) {
  .page-node-3 .nav-item:last-child .active:before {
    top: 48px !important;
  }

  .page-node-11 .nav-item:nth-child(2) .active:before,
.page-node-14 .nav-item:nth-child(2) .active:before,
.page-node-15 .nav-item:nth-child(2) .active:before,
.page-node-16 .nav-item:nth-child(2) .active:before,
.page-node-17 .nav-item:nth-child(2) .active:before {
    top: 48px !important;
  }
}
#trucs-et-astuces {
  border-bottom: none;
  margin-bottom: 0;
}
#trucs-et-astuces h4 {
  font-family: "ITC Avant Garde Gothic Std Book";
  font-size: 16px;
  color: #414951;
  background-color: #84939F;
  display: inline-block;
  padding: 10px 60px 5px 60px;
  position: relative;
  left: -60px;
  margin-bottom: 20px;
}
#trucs-et-astuces li {
  color: #414951;
}
#trucs-et-astuces li::marker {
  color: #414951;
}

#mon-memo {
  border-bottom: none;
  padding: 20px 20px 1px 20px;
  background-color: #FF5769;
  border-radius: 20px;
}
#mon-memo p, #mon-memo li {
  color: #FFFFFF;
}
#mon-memo li {
  opacity: 0.6;
}
#mon-memo li::marker {
  color: #FFFFFF;
}

/* Quizz */
.quizz-dot-wrapper {
  position: relative;
  margin: 20px 0 30px 0;
}
.quizz-dot-wrapper span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #84939F;
  border-radius: 10px;
}
.quizz-dot-wrapper .active {
  position: relative;
  top: 2px;
  background-color: #47C3C6;
  width: 15px;
  height: 15px;
}

.quizz-titre h3 {
  background-color: transparent;
  color: #384A6F;
  padding: 0 15px;
  margin-top: 10px;
}

.quizz-custom-wrapper {
  min-height: 500px;
}

.quizz-question-wrapper .quizz-question {
  position: relative;
  margin-bottom: 20px;
}
.quizz-question-wrapper .quizz-question .reponse-a,
.quizz-question-wrapper .quizz-question .reponse-b,
.quizz-question-wrapper .quizz-question .reponse-c,
.quizz-question-wrapper .quizz-question .reponse-d {
  height: 100%;
}
.quizz-question-wrapper .quizz-question span {
  position: absolute;
  top: 1px;
  left: 21px;
  color: #47C3C6;
}
.quizz-question-wrapper .quizz-question span:hover {
  cursor: pointer;
}
.quizz-question-wrapper .quizz-question button {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border: 1px #47C3C6 solid;
  padding: 20px 30px;
  display: inline-block;
  color: #47C3C6;
  border-radius: 5px;
}
.quizz-question-wrapper .quizz-question .active button {
  background-color: #FF5769;
  border: 1px #FF5769 solid;
  color: #FFFFFF;
}
.quizz-question-wrapper .quizz-question .active span {
  color: #FFFFFF;
}
.quizz-question-wrapper .quizz-question .reponse-validee-ok button {
  background-color: rgba(71, 195, 198, 0.3);
  border: 1px #47C3C6 solid;
  color: #47C3C6;
}
.quizz-question-wrapper .quizz-question .reponse-validee-ok span {
  color: #47C3C6;
}
.quizz-question-wrapper .quizz-question .reponse-validee-nok button {
  background-color: rgba(255, 87, 105, 0.3);
  border: 1px #FF5769 solid;
  color: #FF5769;
}
.quizz-question-wrapper .quizz-question .reponse-validee-nok span {
  color: #FF5769;
}

.quizz-question-reponse {
  padding: 0 15px;
}
.quizz-question-reponse .titre-rep-ok,
.quizz-question-reponse .texte-rep-ok,
.quizz-question-reponse p {
  color: #47C3C6;
}
.quizz-question-reponse .titre-rep-nok {
  color: #FF5769;
}
.quizz-question-reponse .titre-rep-ok,
.quizz-question-reponse .texte-rep-ok,
.quizz-question-reponse .titre-rep-nok {
  font-size: 18px;
  font-family: "ITC Avant Garde Gothic Std Bold";
}

.validation-questions {
  margin-top: 20px;
  padding: 0 15px;
}
@media screen and (max-width: 991.98px) {
  .validation-questions {
    margin-top: 60px;
  }
}
.validation-questions button {
  float: right;
  width: 250px;
  padding: 5px 0;
  margin-bottom: 40px;
  background-color: #47C3C6;
  border: 1px #47C3C6 solid;
  display: inline-block;
  color: #FFFFFF;
  border-radius: 5px;
}

/* Pages basiques */
.node--type-page h2 {
  margin: 60px 0 10px 0;
}
.node--type-page h3, .node--type-page h4, .node--type-page h5 {
  margin: 10px 0;
}
.node--type-page a {
  color: #FF5769;
}

/* Page de connexion */
.page-user-login #block-alto-breadcrumbs {
  display: none;
}
.page-user-login #edit-submit {
  background-color: #47C3C6;
  border-color: #47C3C6;
}

/* Page 404 */
.page-404 {
  margin-top: 60px;
  text-align: center;
}
.page-404 .bouton-404 {
  margin-top: 30px;
}
.page-404 .bouton-404 a {
  padding: 10px 30px;
  background-color: #FF5769;
  color: #FFFFFF;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: #414951;
  margin-top: 100px;
}
footer #block-footerpersonnalise-2 {
  width: 100%;
  padding: 30px 0 10px 0;
}
footer #block-footerpersonnalise-2 .fieldset-legend {
  display: none;
}
footer #block-footerpersonnalise-2 .field-item {
  margin-bottom: 5px;
}
footer #block-footerpersonnalise-2 a {
  color: #FFFFFF;
  font-family: "ITC Avant Garde Gothic Std Demi";
  font-size: 12px;
  text-decoration: none;
}
footer #block-footerpersonnalise-2 a:hover, footer #block-footerpersonnalise-2 a:focus {
  color: #84939F;
}
footer #block-footerpersonnalise-2 p {
  font-size: 12px;
}
footer #block-footerpersonnalise-2 .field--name-field-label-lien-2 {
  margin-bottom: 20px;
}
@media screen and (max-width: 767.98px) {
  footer #block-footerpersonnalise-2 .form-group {
    margin-bottom: 30px;
  }
}
