{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 * - sidebar_collapse: If the sidebar_first will collapse.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
  <div id="page">

    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
      <nav class="header-nav-wrapper">
        <div class="header-nav container">
          <a href="/"><img src="{{ base_path ~ directory }}/images/logo-alto.png" class="logo-alto" alt="Logo Alto"></a>
          <a href="https://www.bayer.fr/fr/" target="_blank"><img src="{{ base_path ~ directory }}/images/logo-bayer-blanc.png" class="logo-bayer" alt="Logo Bayer"></a>
          <img src="{{ base_path ~ directory }}/images/logo-texte-alto.png" class="logo-texte-alto" alt="Agir contre le thrombus et pour l'observance">
        </div>
      </nav>
      {% if node.id == 2 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/arythmie-comprendre.jpg');">
      {% elseif node.id == 3 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/avc-comprendre.jpg');">
      {% elseif node.id == 4 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/phlebite-comprendre.jpg');">
      {% elseif node.id == 5 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/embolie-comprendre.jpg');">
      {% elseif node.id == 6 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/maladie-coronaire-comprendre.jpg');">
      {% elseif node.id == 7 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/arterite-comprendre.jpg');">
      {% elseif node.id == 8 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/arythmie-priseencharge.jpg');">
      {% elseif node.id == 9 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/avc-priseencharge.jpg');">
      {% elseif node.id == 10 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/phlebite-priseencharge.jpg');">
      {% elseif node.id == 11 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/embolie-priseencharge.jpg');">
      {% elseif node.id == 12 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/maladie-coronaire-priseencharge.jpg');">
      {% elseif node.id == 13 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/arterite-priseencharge.jpg');">
      {% elseif node.id == 14 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/arythmie-suivi.jpg');">
      {% elseif node.id == 15 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/avc-suivi.jpg');">
      {% elseif node.id == 16 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/phlebite-suivi.jpg');">
      {% elseif node.id == 17 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/embolie-suivi.jpg');">
      {% elseif node.id == 18 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/maladie-coronaire-suivi.jpg');">
      {% elseif node.id == 19 %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/arterite-suivi.jpg');">
      {% else %}
        <div class="header-top-image-wrapper" style="background-image: url('{{ base_path ~ directory }}/images/background-alto-home.jpg');">
      {% endif %}
        <div class="header-top-image">
          <div class="container">
            <h1>Votre plateforme d'informations personnalisée sur <span>les maladies cardiovasculaires</span></h1>
          </div>
        </div>
        <div class="custom-search-nav-wrapper">
          <div class="custom-search-nav-pc">
            <div class="custom-search-nav">
              <p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#altoModalCenter" data-backdrop="static" data-keyboard="false">
                  <img src="{{ base_path ~ directory }}/images/Picto-search-dot.png" alt="Image recherche">
                  Savez-vous ce que vous cherchez ?
                </button>
              </p>
            </div>
          </div>
          <div class="custom-search-nav-mobile">
            <div class="custom-search-nav">
              <p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#altoModalCenter" data-backdrop="static" data-keyboard="false">
                  <img src="{{ base_path ~ directory }}/images/icon-search.png" alt="Image recherche">
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="main-wrapper" class="layout-main-wrapper clearfix">
      {% block content %}
        <div id="main">
          <div class="wrapper-custom-nav">
            <div class="custom-nav">
              <div class="custom-nav-top-wrapper">
                <div class="container">
                  <div class="custom-nav-top">
                    <a href="{{ path('entity.node.canonical', {'node': 2}) }}#introduction" class="custom-nav-comprendre">Comprendre</a>
                    <a href="{{ path('entity.node.canonical', {'node': 8}) }}#introduction" class="custom-nav-pec">Prise en charge</a>
                    <a href="{{ path('entity.node.canonical', {'node': 14}) }}#introduction" class="custom-nav-suivi">Suivi</a>
                  </div>
                </div>
              </div>
              <div class="custom-nav-bottom-wrapper">
                <div class="container">
                  <div class="custom-nav-bottom">
                    <div class="custom-nav-bottom-comprendre">
                      <a href="{{ path('entity.node.canonical', {'node': 2}) }}#introduction" class="arythmie-cardiaque">Arythmie cardiaque</a>
                      <a href="{{ path('entity.node.canonical', {'node': 3}) }}#introduction" class="avc">AVC</a>
                      <a href="{{ path('entity.node.canonical', {'node': 4}) }}#introduction" class="phlebite">Phlébite</a>
                      <a href="{{ path('entity.node.canonical', {'node': 5}) }}#introduction" class="embolie-pulmonaire">Embolie pulmonaire</a>
                      <a href="{{ path('entity.node.canonical', {'node': 6}) }}#introduction" class="maladie-coronaire">Maladie coronaire</a>
                      <a href="{{ path('entity.node.canonical', {'node': 7}) }}#introduction" class="arterite-des-membres-inferieurs">Artérite des membres inférieurs</a>
                    </div>
                    <div class="custom-nav-bottom-prise-en-charge">
                      <a href="{{ path('entity.node.canonical', {'node': 8}) }}#introduction" class="arythmie-cardiaque">Arythmie cardiaque</a>
                      <a href="{{ path('entity.node.canonical', {'node': 9}) }}#introduction" class="avc">AVC</a>
                      <a href="{{ path('entity.node.canonical', {'node': 10}) }}#introduction" class="phlebite">Phlébite</a>
                      <a href="{{ path('entity.node.canonical', {'node': 11}) }}#introduction" class="embolie-pulmonaire">Embolie pulmonaire</a>
                      <a href="{{ path('entity.node.canonical', {'node': 12}) }}#introduction" class="maladie-coronaire">Maladie coronaire</a>
                      <a href="{{ path('entity.node.canonical', {'node': 13}) }}#introduction" class="arterite-des-membres-inferieurs">Artérite des membres inférieurs</a>
                    </div>
                    <div class="custom-nav-bottom-suivi">
                      <a href="{{ path('entity.node.canonical', {'node': 14}) }}#introduction" class="arythmie-cardiaque">Arythmie cardiaque</a>
                      <a href="{{ path('entity.node.canonical', {'node': 15}) }}#introduction" class="avc">AVC</a>
                      <a href="{{ path('entity.node.canonical', {'node': 16}) }}#introduction" class="phlebite">Phlébite</a>
                      <a href="{{ path('entity.node.canonical', {'node': 17}) }}#introduction" class="embolie-pulmonaire">Embolie pulmonaire</a>
                      {# <a href="{{ path('entity.node.canonical', {'node': 18}) }}#introduction" class="maladie-coronaire">Maladie coronaire</a> #}
                      {# <a href="{{ path('entity.node.canonical', {'node': 19}) }}#introduction" class="arterite-des-membres-inferieurs">Artérite des membres inférieurs</a> #}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="{{ container }}">
            {{ page.breadcrumb }}
            <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main{{ content_attributes }}>
                <section class="section">
                  <a id="main-content" tabindex="-1"></a>
                  {{ page.content }}
                </section>
              </main>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="altoModalCenter" tabindex="-1" role="dialog" aria-labelledby="altoModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-header-content">
                  <h5 class="modal-title" id="altoModalLongTitle">Alto signifie Agir contre Le Thrombus et pour l'Observance.</h5>
                  <p>Alto vous accompagne de la maladie cardiovasculaire, et s'adapte à votre profil et à vos attentes.</p>
                </div>
              </div>
              <div class="modal-body">

                {# Type de navigation #}
                <div class="modal-body-entree row justify-content-md-center">
                  <h6>Savez-vous ce que vous cherchez ?</h6>
                  <div class="col-md-4">
                    <button id="modal-body-entree-oui">OUI<span>Rechercher</span></button>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">NON<span>Navigation libre</span></button>
                  </div>
                </div>

                {# Pathologie #}
                <div class="modal-body-pathologie row justify-content-md-center">
                  <h6>À propos de quelle pathologie souhaitez-vous avoir plus d'informations ?</h6>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-pathologie-ami" class="button-modal-custom" data-pathologie="arterite-des-membres-inferieurs">Artérite des membres inférieurs</button>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-pathologie-mc" class="button-modal-custom" data-pathologie="maladie-coronaire">Maladie coronaire</button>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-pathologie-ac" class="button-modal-custom" data-pathologie="arythmie-cardiaque">Arythmie cardiaque</button>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-pathologie-avc" class="button-modal-custom" data-pathologie="avc">AVC</button>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-pathologie-phlebite" class="button-modal-custom" data-pathologie="phlebite">Phlébite</button>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-pathologie-ep" class="button-modal-custom" data-pathologie="embolie-pulmonaire">Embolie pulmonaire</button>
                    </div>
                  </div>
                </div>

                {# Parcours de soin pour toutes les pathologies sauf Artérite et Maladie coronaire #}
                <div class="modal-body-parcours-info-full row justify-content-md-center">
                  <h6>À propos de quelle étape du parcours de soins souhaitez-vous avoir plus d'information ?</h6>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-info-full-comprendre" class="button-modal-custom">Comprendre</button>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-info-full-pec" class="button-modal-custom">Prise en charge</button>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-info-full-suivi" class="button-modal-custom">Suivi</button>
                    </div>
                  </div>
                </div>

                {# Parcours de soin pour Artérite et Maladie coronaire #}
                <div class="modal-body-parcours-info-min row justify-content-md-center">
                  <h6>À propos de quelle étape du parcours de soins souhaitez-vous avoir plus d'information ?</h6>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-info-min-comprendre" class="button-modal-custom">Comprendre</button>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-info-min-pec" class="button-modal-custom">Prise en charge</button>
                    </div>
                  </div>
                </div>

                {# Terminateur 1 / Comprendre #}
                <div class="modal-body-comprendre-first row justify-content-md-center">
                  <h6>Recherchez-vous des informations sur les causes ou les conséquences de la maladie ?</h6>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-comprendre-first-causes" class="button-modal-custom">Causes</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-comprendre-first-consequences" class="button-modal-custom">Conséquences</button>
                    </div>
                  </div>
                </div>

                {# Terminateur 2 / Comprendre #}
                <div class="modal-body-comprendre-sec row justify-content-md-center">
                  <h6>Recherchez-vous des informations sur les méthodes de diagnostic ou sur les signes d'alerte liés à cette maladie ?</h6>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-comprendre-sec-diag" class="button-modal-custom">Diagnostic</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-comprendre-sec-signes" class="button-modal-custom">Signes d'alerte</button>
                    </div>
                  </div>
                </div>

                {# Terminateur 3 / Comprendre #}
                <div class="modal-body-comprendre-third row justify-content-md-center">
                  <h6>Souhaitez-vous connaître les symptômes de la maladie ou avoir plus d'information sur les risques de compliquations ?</h6>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-comprendre-third-full-symptomes" class="button-modal-custom">Symptômes</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-comprendre-third-compliquations" class="button-modal-custom">Compliquations</a>
                    </div>
                  </div>
                </div>

                {# Terminateur 1 / Prise en charge - Tous sauf AVC, Maladie coronaire et Artérite #}
                <div class="modal-body-pec-first-full row justify-content-md-center">
                  <h6>Concernant les différents traitements ou les anticoagulants ?</h6>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-pec-first-full-diff" class="button-modal-custom">Différents traitements</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-pec-first-full-antico" class="button-modal-custom">Anticoagulants</a>
                    </div>
                  </div>
                </div>

                {# Terminateur 1 / Prise en charge - AVC seulement #}
                <div class="modal-body-pec-first-avc row justify-content-md-center">
                  <h6>Recherchez-vous des informations sur les démarches médico-sociales suite à un AVC ou concernant la prise en charge médicale ?</h6>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-pec-first-avc-demarches" class="button-modal-custom">Démarches</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <button id="modal-body-pec-first-avc-medic" class="button-modal-custom">Prise en charge médicale</button>
                    </div>
                  </div>
                </div>

                {# Terminateur 2 / Prise en charge - AVC seulement #}
                <div class="modal-body-pec-sec-avc row justify-content-md-center">
                  <h6>Lié à la prévention ou à la prise en charge après un AVC</h6>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-pec-sec-avc-apres" class="button-modal-custom">Après un AVC</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-pec-sec-avc-prev" class="button-modal-custom">Prévention</a>
                    </div>
                  </div>
                </div>

                {# Terminateur 1 / Prise en charge - Maladie coronaire ou Artérite #}
                <div class="modal-body-pec-first-mc row justify-content-md-center">
                  <h6>Recherchez-vous des informations sur la prise en charge ou les conséquences sur le mode de vie ?</h6>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-pec-first-mc-mdv" class="button-modal-custom">Mode de vie</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-pec-first-mc-med" class="button-modal-custom">Prise en charge médicale</a>
                    </div>
                  </div>
                </div>

                {# Terminateur 1 / Suivi #}
                <div class="modal-body-suivi-first row justify-content-md-center">
                  <h6>Recherchez-vous des informations liées aux anticoagulants ou du partage d'expérience sur cette pathologie au quotidien ?</h6>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-suivi-first-pe" class="button-modal-custom">Partage d'expérience</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="button-modal-wrapper">
                      <a href="" id="modal-body-suivi-first-traitement" class="button-modal-custom">Anticoagulants</a>
                    </div>
                  </div>
                </div>

                <img src="{{ base_path ~ directory }}/images/line-popup-bottom-pc.png" class="modal-decoration-pc" alt="">
                <img src="{{ base_path ~ directory }}/images/line-popup-left-bottom.png" class="modal-decoration-mobile-left" alt="">
                <img src="{{ base_path ~ directory }}/images/line-popup-right-bottom.png" class="modal-decoration-mobile-right" alt="">

              </div>
            </div>
          </div>
        </div>

      {% endblock %}
    </div>

    <footer class="footer">
      {% block footer %}
          <div class="{{ container }}">
            {% if page.footer %}
              {{ page.footer }}
            {% endif %}
          </div>
      {% endblock %}
    </footer>

  </div>
</div>